PRIVATE_KEY=0x你的EVM私钥

# Irys bundler URL（非 EVM RPC），不填则使用默认公共节点
IRYS_BUNDLER_URL=https://node1.irys.xyz

# Irys 受支持代币（例如：ethereum|matic|arbitrum|base|bsc|avalanche ...）
IRYS_TOKEN=ethereum


# 测试网rpc：
IRYS_PROVIDER_URL=https://testnet-rpc.irys.xyz/v1/execution-rpc
BOT_MESSAGE=Hello Irys
BOT_INTERVAL_MS=60000



